:root{
    --color-background-button: #cfd73a;
    --color-button: #0d7301;
    --color-background-page: #eaeda0;
    --color-background-characters: #fffbf4;
    --color-close-dialog: #8c8b92;

    --font-type: Arial, Helvetica, sans-serif;
}

#main{
    font-family: var(--font-type);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    background-color: var(--color-background-page);
}

.l-button{
    text-align: center;
}

.c-button{
    font-family: var(--font-type);
    color: var(--color-button);
    background-color: var(--color-background-button);
    border: 2px solid var(--color-button);
    padding: 15px;
    border-radius: 5px;
}

.c-card{
    background-color: var(--color-background-characters);
    margin: 10px;
    border: 3px solid var(--color-button);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 13px 18px 0px rgba(13,115,1,1);
}

.c-card-info{
    background-color: var(--color-background-characters);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid var(--color-button)
}

.c-card-info__close{
    font-size: 10px;
    color: var(--color-close-dialog);
}

.c-card-info__close:hover{
    cursor: pointer;
}

