.c-circled-cards{
    background-color: var(--color-blue-1);
    border-bottom-right-radius: 95% 5%;
    border-bottom-left-radius: 95% 5%;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}