
.c-clan{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.c-clan__character{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
}

.c-character__image{
    width: 100px;
    border-radius: 20px;
}