:root {
    --color-primary: #0d6efd;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;
    --color-light: #ffffff;
    --color-dark: #212529;
}

section{
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.c-badge {
    --c-badge-background-color: var(--color-primary);
    --c-badge-color: var(--color-light);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    align-items: center;

    background-color: var(--c-badge-background-color);
    color: var(--c-badge-color);
}

.c-badge__notification{
    --c-badge__notification-background-color: var(--color-danger);
    --c-badge__notification-color: var(--color-light);

    font-family: Arial, Helvetica, sans-serif;
    width: 10px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 20px;

    background-color: var(--c-badge__notification-background-color);
    color: var(--c-badge__notification-color);
}

.c-badge--secondary{
    --c-badge-background-color: var(--color-secondary);
}

.c-badge--success{
    --c-badge-background-color: var(--color-success);
}

.c-badge--danger{
    --c-badge-background-color: var(--color-danger);
    --c-badge__notification-background-color: var(--color-dark);
}

.c-badge--warning{
    --c-badge-color: var(--color-dark);
    --c-badge-background-color: var(--color-warning);
}

.c-badge--info{
    --c-badge-color: var(--color-dark);
    --c-badge-background-color: var(--color-info);
}

.c-badge--light{
    --c-badge-color: var(--color-dark);
    --c-badge-background-color: var(--color-light);
}

.c-badge--dark{
    --c-badge-color: var(--color-light);
    --c-badge-background-color: var(--color-dark);
}

body{
    margin-top: 25px;
}