:root {
    --color-light: #FFFFFF;

    --color-text-dark: #666666;
    --color-text-darker: #333333;

    --color-blue-1: #D9ECF3;
    --color-blue-2: #91C7DC;
    --color-blue-3: #46B6D2;
    --color-blue-4: #007EAE;

    --color-box-shadow: #c0c0c0;

    --font-stack: 'Open Sans', sans-serif;
    --font-size-1: 32px;
    --font-size-2: 30px;
    --font-size-3: 28px;
}