.l-position-fixed{
    position: fixed;
  }
  
  .l-position-absolute{
    position: absolute;
  }
  
  .l-position-sticky{
    position: sticky;
  }
  
  .l-position-relative{
    position: relative;
  }